#background {
    -fx-background-color: #1F1E1E;
}

#label {
    -fx-text-fill: #FFFFFF;
}

#titlePane {
    -fx-background-color: #1F1E1E;
}

#navBarPane {
    -fx-background-color: #1F1E1E;
}

#coinTossPane {
    -fx-background-color: #2A2828;
}

#diceRollPane {
    -fx-background-color: #2A2828;
}

#handGuessPane {
    -fx-background-color: #2A2828;
}

#rpsPane {
    -fx-background-color: #2A2828;
}

#stopPane {
    -fx-background-color: #2A2828;
}

#versionPane {
    -fx-background-color: #1F1E1E;
}

.alert{
    -fx-background-color: #1F1E1E;
}
.alert > *.button-bar > *.container{
    -fx-background-color: #1F1E1E;
}
.alert > *.label.content{
    -fx-text-fill: #FFFFFF;
}
.alert:header *.header-panel{
    -fx-background-color: #1F1E1E;
}
.alert:header *.header-panel *.label{
    -fx-text-fill: #FFFFFF;
}

#checkBox {
    -fx-text-fill: #FFFFFF;
}

#aboutBoxBackground {
    -fx-background-color: #1F1E1E;
}

#aboutBoxLabel {
    -fx-text-fill: #FFFFFF;
}

#separator .line{
    -fx-border-color: #FFFFFF;
}

#textArea {
    -fx-text-fill: #FFFFFF;
}

#textArea .content {
    -fx-background-color: #2A2828;
}